Default: &defaults
  host: "*4" # any IPv4 host
  port: 3000
  approot: "http://localhost:3000"
  copyright: Insert copyright statement here
  syskey: jH4haako4tiGwC2nbn4GceVgjIUghsAE
  ttl: 86400

Development:
  <<: *defaults

Testing:
  <<: *defaults
  approot: "http://localhost:3000"
  ttl: 10
  syskey: testsyskey

Staging:
  <<: *defaults

Production:
  #approot: "http://www.example.com"
  <<: *defaults
