html, body {
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: proxima-nova,"Helvetica Neue",HelveticaNeue,Helvetica,Arial,sans-serif;
}

div.ember-view {
  overflow: visible;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 300px;
}

#menu {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 300px;
  background-color: #333333;
  color: #cccccc;
  box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.5);
}

#menu ul {
  padding: 0px 0px 0px 5px;
}

#menu li {
  list-style-type: none;
  padding: 3px 0px 3px 0px;
}

#menu a {
  color: inherit;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
}

#menu a img {
  margin: 0px 0px -2px 0px;
}

#content {
  position: absolute;
  top: 0px;
  left: 300px;
  right: 0px;
  bottom: 0px;
  background: #ffffff;
  overflow: auto;
  z-index: 1;
}

@media screen and (max-width: 999px) {
  #menu {
    left: -300px;
    transition: transform 300ms ease;
  }

  #content {
    left: 0px;
    transition: transform 300ms ease;
  }

  #menu.menuopen {
    transform: translate3d(300px, 0, 0);
  }

  #content.menuopen {
    transform: translate3d(300px, 0, 0);
  }
}
